<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springpractice.mapper.UserMapper">

    <select id="getUserList" resultType="com.example.springpractice.domain.User">
        SELECT
            id,
            login_id
        FROM
            USER_TABLE
        ORDER by
            id asc
    </select>

    <insert id="insertUser">
        INSERT INTO USER_TABLE (
                                id,
                                login_id
                                )
        VALUES (
                USER_SEQ.NEXTVAL,
                'asdf'
               )
    </insert>

</mapper>